*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-color: #211c2b;
    display: flex;
    justify-content: center;
    align-items: center;
}